@model IEnumerable<AdminViewWebApp.Models.DrugOrder>

@{
    ViewData["Title"] = "Drug Orders";
}

<h2>Drug Orders</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Drug Order ID</th>
            <th>Pharmacy ID</th>
            <th>Drug ID</th>
            <th>Quantity</th>
            <th>Order Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.DrugOrderId</td>
                <td>@order.PharmacyId</td>
                <td>@order.DrugID</td>
                <td>@order.Quantity</td>
                <td>@order.OrderDate.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>